<div class = "flex-column bg-light" style="height: 100vh;">
  <div class = "text-center pt-5">
    検索エリアエリア
  </div>
  
  <div class = "text-center mt-4">
    ・タグ
    ・タグ
    ・タグ
    ・タグ
  </div>
</div>