<div class = "flex-column bg-light border-start border-info" style="height: 100vh;">
  <div class = "pt-5">
    <%= render 'public/searches/form' %>
  </div>
  
  <div class = "text-center mt-4">

  </div>
</div>