<div class="row min-vh-100">
  <!-- 左サイドバー （PCのみ表示）-->
  <div class="col-2 p-0 bg-light d-none d-md-block">
    <%= render 'public/users/sidebar' %>
  </div>

  <!-- メインコンテンツ（スクロール領域） -->
  <div class="col-12 col-md-8 px-3 mt-5 d-flex flex-column align-items-center">
    <div class="overflow-auto w-100 py-5" style="max-height:600px;">
      <%= render 'public/posts/index.posts', posts: @posts %>
    </div>
  </div>
  <!-- 右サイドバー （PCのみ表示）-->
  <div class = "col-2 p-0 bg-light d-none d-md-block">
    <%= render 'public/posts/sidebarleft' %>
  </div>
</div>