<h1>Dear...すべての音楽家たちへ</h1>

<h2>Melo Dropで、音の雫を探しに行こう</h2>

<%= link_to "新規登録", new_user_registration_path %> 
<%= link_to "ゲストログイン", public_guest_sign_in_path %> 
<%= link_to "ログイン", new_user_session_path %>