<% if user.errors.any? %>
  <div class = "alert alert-danger p-3 rounded">
    <%= user.errors.count %>件、雫の要素が足りないようです
      <ul>
        <p><% user.errors.full_messages.each do |message| %></p>
        <li><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>